<div *ngIf="isAuthenticated" class="container-fluid p-3 bg-dark bg-gradient">
  <div class="row">
    <div class="col">
      <div class="float-start">
        <img
          src="https://play-lh.googleusercontent.com/3APi4HdWb0_rhnhAEoyJEYfSemXW9cNbA2VdOCSN7L6wgdjC_oTxLphER647R9PnSCkV"
          width="40px"
          height="40px"
          alt=""
        />
        <h2 class="ms-2 d-inline text-light">🆅🅾🆃🅸🅽🅶 🅿🅾🆁🆃🅰🅻</h2>
      </div>
      <div class="float-end">
        <p class="d-inline p-3 text-light">
          {{ user.lastName + ", " + user.firstName }}
        </p>
        <span
          ><button class="btn btn-light" (click)="onLogout()">
            <small>LOGOUT</small>
          </button></span
        >
      </div>
    </div>
  </div>
</div>
