<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="container-fluid">
        <div class="row">
          <div class="col-6 d-flex justify-content-center">
            <div
              class="card bg-light mb-3"
              style="min-width: 40rem; min-height: 12rem"
            >
              <div class="card-header bg-dark bg-gradient text-white">
                Designations
              </div>
              <div
                class="card-body"
                routerLink="/admin/designations"
                style="cursor: pointer"
              >
                <h5 class="card-title">Manage Designations</h5>
                <p class="card-text small">
                  You can add/remove designations under which candidates may
                  compete.
                </p>
              </div>
            </div>
          </div>
          <div class="col-6 d-flex justify-content-center">
            <div
              class="card bg-light mb-3"
              style="min-width: 40rem; min-height: 12rem"
            >
              <div class="card-header bg-dark bg-gradient text-white">
                Candidates
              </div>
              <div
                class="card-body"
                style="cursor: pointer"
                routerLink="/admin/candidates/add"
              >
                <h5 class="card-title">Add Candidates</h5>
                <p class="card-text small">
                  You can add new candidates here. You are required to submit a
                  form by filling all the relevant fields.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 d-flex justify-content-center">
            <div
              class="card bg-light mb-3"
              style="min-width: 40rem; min-height: 12rem"
            >
              <div class="card-header bg-dark bg-gradient text-white">
                Candidates
              </div>
              <div
                class="card-body"
                style="cursor: pointer"
                routerLink="/admin/candidates/view"
              >
                <h5 class="card-title">View Candidates</h5>
                <p class="card-text small">
                  You can view all the candidates that are competing at the
                  poll. You can remove any candidate, as deemed necessary.
                </p>
              </div>
            </div>
          </div>
          <div class="col-6 d-flex justify-content-center">
            <div
              class="card bg-light mb-3"
              style="min-width: 40rem; min-height: 12rem"
            >
              <div class="card-header bg-dark bg-gradient text-white">
                Results
              </div>
              <div
                class="card-body"
                style="cursor: pointer"
                routerLink="/admin/viewresult"
              >
                <h5 class="card-title">View Results</h5>
                <p class="card-text small">
                  You can view the voting results here.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
