.card-body:hover {
    opacity: 0.6;
    transition: opacity .30s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}

.card-body {
    opacity: 1.0;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}