<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="container-fluid">
        <div class="row">
          <div class="col-6">
            <a routerLink="voter" class="tile gray">
              <h5 class="title text-center">I AM A VOTER</h5>
            </a>
          </div>
          <div class="col-6">
            <a routerLink="admin" class="tile red">
              <h5 class="title text-center">I AM AN ADMIN</h5>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br /><br />
  <div class="row">
    <div class="col-5">
      <router-outlet />
    </div>
  </div>
</div>
