<div class="">
  <div id="intro-example" class="p-5 text-center">
    <div class="mask p-3" style="background-color: rgba(0, 0, 0, 0.7)">
      <div class="d-flex justify-content-center align-items-center">
        <div class="text-white">
          <h1 class="mb-3">WELCOME</h1>
          <h5 class="mb-4">
            Use the portal to cast your vote, or manage the dashboard if you are
            an admin
          </h5>
          <a
            class="btn btn-outline-light btn-lg m-2"
            routerLink="voter"
            role="button"
            >LET ME VOTE</a
          >
          <a
            class="btn btn-outline-light btn-lg m-2"
            routerLink="admin"
            role="button"
            >I AM AN ADMIN</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-5">
        <router-outlet />
      </div>
    </div>
  </div>
</div>
